{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="sm-12-col">
            <table class="table table-striped">
                <thead>
                    <td>ID</td>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Téléphone</td>
                    <td>Action</td>
                </thead>
                <tbody>
                    {% for user in listUser %}
                    <tr>
                        <td> {{user.id}}</td>
                        <td>{{ user.name }}</td>
                        <td> {{ user.lastname }}</td>
                        <td> {{ user.phoneNumber }}</td>
                        <td><a href="#" type="button" class="btn btn-info">Afficher</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
