{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="sm-12-col">
            <table class="table table-striped">
                <thead>
                    <td>ID</td>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Téléphone</td>
                    <td>Action</td>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Premier test</td>
                        <td>0123456789</td>
                        <td><a href="#" type="button" class="btn btn-info">Afficher</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Bientot</td>
                        <td>la BDD</td>
                        <td>0123456789</td>
                        <td><a href="#" type="button" class="btn btn-info">Afficher</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Avec un</td>
                        <td>foreach et une redirection</td>
                        <td>0123456789</td>
                        <td><a href="#" type="button" class="btn btn-info">Afficher</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
