{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="sm-12-col">
            Détails :
            <ul>
                <li>{{ name}}</li>
                <li>{{ lastname}}</li>
                <li>{{ phoneNumber}}</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
